@font-face { font-family: aller; src: url('menufont1.ttf');}
@font-face { font-family: indub; src: url('indub.ttf');}
@font-face { font-family: east; src: url('east.ttf');}
@font-face { font-family: limon; src: url('lime.ttf');}
@font-face { font-family: plexi; src: url('plexifont.ttf');}
@font-face { font-family: comix; src: url('comic.otf');}
.title {
  position: fixed;
  font-family: plexi;
  font-size: 400%;
  /* this was 300% ^ for avenir */
  color: #DFDCDC;
  margin-left:5%;
  margin-top: -1.5%;

}

.menu-wrapper {
  color: #DFDCDC;
  font-family: comix;
  font-size: 200%;
  /* this was 125% for avenir */
  text-decoration: none;
  margin-left: 30%;
  margin-top: 1%;
  text-decoration: none;
  list-style-type; none;
  list-style: none;
}

.VA {
  position: fixed;
  margin-top: .5%;
  margin-left:
}

.film {
  position: fixed;
 margin-left: 30%;
 margin-top: .45%;
}

.photo {
  position: fixed;
 margin-left: 19%;
 margin-top: .45%;
}

.music {
  position: fixed;
 margin-left: 8.5%;
 margin-top: .45%;
}

.mob {
  position: fixed;
  margin-left: 39%;
  margin-top: .45%;
}

.community {
  position: fixed;
  margin-left: 48%;
  margin-top: .45%;
}

.VA:hover {
 color: grey;
}

.film:hover {
  color: grey;
}

.music:hover {
  color: grey
}

.photo:hover {
 color: grey;
}

.mob:hover {
  color: grey;
}

.community:hover {
  color: grey;
}

.p1body {
 margin-left: 30%;
 margin-top: 5%;
 width: 200px;
}

.m1image {
  position: relative;
  margin-top: 50%;
}
.m1image2 {
  position: relative;
  margin-left: -310%;

}

.body1 {
  background-color: #303030;
}
