.title {
  position: fixed;
  font-family: avenir;
  font-size: 300%;
  color: #DFDCDC;
  margin-left:5%;
  margin-top: -1.5%;

}

.menu-wrapper {
  color: #DFDCDC;
  font-family: avenir;
  font-size: 125%;
  text-decoration: none;
  margin-left: 30%;
  margin-top: 1%;
  text-decoration: none;
  list-style-type; none;
  list-style: none;
}

.VA {
  position: fixed;
  margin-top: .5%;
  margin-left:
}

.film {
  position: fixed;
 margin-left: 30%;
 margin-top: .45%;
}

.photo {
  position: fixed;
 margin-left: 19%;
 margin-top: .45%;
}

.music {
  position: fixed;
 margin-left: 8.5%;
 margin-top: .45%;
}

.mob {
  position: fixed;
  margin-left: 39%;
  margin-top: .45%;
}

.community {
  position: fixed;
  margin-left: 48%;
  margin-top: .45%;
}

.VA:hover {
 color: grey;
}

.film:hover {
  color: grey;
}

.music:hover {
  color: grey
}

.photo:hover {
 color: grey;
}

.mob:hover {
  color: grey;
}

.community:hover {
  color: grey;
}

.p1body {
 margin-left: 30%;
 margin-top: 5%;
 width: 200px;
}

.m1image {
  position: relative;
  margin-top: 50%;
}
.m1image2 {
  position: relative;
  margin-left: -310%;

}

.body1 {
  background-color: #303030;
}
